{% extends 'base.html.twig' %}

{% block title %}{{ book.title }} - Community Library{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>

    <div class="book-meta">

        {% if book.authors is not empty %}
            <span>
                {% for author in book.authors %}
                    {{ author.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </span>
        {% endif %}

        {% if book.publicationDate %}
            <span>{{ book.publicationDate|date('Y') }}</span>
        {% endif %}

        {% if book.genres is not empty %}
            {% for genre in book.genres %}
                <span class="genre-badge">{{ genre.name|upper }}</span>
            {% endfor %}
        {% endif %}

        <span>{{ book.available ? 'Available' : 'Not available' }}</span>

        {% if book.language %}
            <span>{{ book.language|upper }}</span>
        {% endif %}

    </div>

    <hr>

    {% if book.summary %}
        <p>{{ book.summary }}</p>
    {% else %}
        <p><em>No summary available.</em></p>
    {% endif %}

    {% if book.coverUrl %}
        <img src="{{ book.coverUrl }}" alt="{{ book.title }}">
    {% endif %}

    {# Lien Edit #}
    <a href="{{ path('app_admin_book_edit', {id: book.id}) }}" class="btn" >Edit this book</a>

    <a href="{{ path('app_book_index') }}" class="btn btn-outline-secondary">← Back to all books</a>
{% endblock %}
