{% extends 'base.html.twig' %}

{% block title %}New Book - Community Library{% endblock %}

{% block body %}
    <h1>New Book</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.isbn) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.publicationDate) }}
        {{ form_row(form.available) }}
        {{ form_row(form.language) }}
        {{ form_row(form.coverUrl) }}
        {{ form_row(form.genres) }}

        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
